<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pbjb.gr.pembelajaranbudayajawabarat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        tools:replace="android:icon,android:theme">

        <activity
            android:name=".splash_scr"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main_menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".starting_quiz"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz_menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".e1_menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".about_menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".e2_menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".e3_menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".e4_menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".e5_menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".slider"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".e6_menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz_summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vid_player"
            android:screenOrientation="landscape" />
        <activity android:name=".mid_ar1" />
    </application>

</manifest>